@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.sidebar {
  min-inline-size: 120px;
  block-size: min-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $BLACK80;
  border-radius: 15px;
  padding: 10px;
  list-style: none;

  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      @include h4;

      color: $WHITE;
    }

    .value {
      color: $LIGHTER_GRAY;
    }
  }
}
