@use '@/shared/assets/styles/mixins/fonts' as *;
@use '@/shared/assets/styles/mixins/texts' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 32px;

  .icon {
    width: 32px;
    height: 32px;

    flex-shrink: 0;

    margin-bottom: 12px;

    color: var(--primary);
  }

  .title {
    @include font-lora;
    @include t-24-600;

    margin-bottom: 4px;
  }

  .subtitle {
    @include font-dmsans;
    @include t-14-400;

    color: var(--muted-foreground);
  }
}
