@use '@/styles/colors' as *;
@use '@/styles/effects' as *;

.card {
  z-index: 0;
  position: relative;
  border-radius: 15px;
  inline-size: 100%;
  min-block-size: 120px;
  background-image: linear-gradient(to right bottom, $LIGHTER_GRAY, $BLACK);

  &:hover {
    cursor: pointer;

    .effect {
      opacity: 1;
    }
  }

  .attributeList {
    position: absolute;
    left: -5px;
    top: -7px;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-inline-size: 95%;
    padding: 3px 10px;
    background-color: $BLACK75;
    color: $WHITE;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .effect {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    inline-size: 100%;
    block-size: 100%;
    filter: blur(7px);
    border-radius: 15px;
    transition: opacity 0.3s;
  }
}
