@mixin t-48-600 {
  font-size: 48px;
  font-weight: 600;
}

@mixin t-24-600 {
  font-size: 24px;
  font-weight: 600;
}

@mixin t-16-600 {
  font-size: 16px;
  font-weight: 600;
}

@mixin t-16-500 {
  font-size: 16px;
  font-weight: 500;
}

@mixin t-14-500 {
  font-size: 14px;
  font-weight: 500;
}

@mixin t-14-400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin t-12-500 {
  font-size: 12px;
  font-weight: 500;
}

@mixin t-12-400 {
  font-size: 12px;
  font-weight: 400;
}

@mixin t-11-400 {
  font-size: 11px;
  font-weight: 400;
}

@mixin t-10-500 {
  font-size: 10px;
  font-weight: 500;
}
