@mixin t-64-700 {
  font-size: 64px;
  font-weight: 700;
}

@mixin t-32-500 {
  font-size: 32px;
  font-weight: 500;
}

@mixin t-16-500 {
  font-size: 16px;
  font-weight: 500;
}

@mixin t-14-400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin t-12-400 {
  font-size: 12px;
  font-weight: 400;
}

@mixin t-10-400 {
  font-size: 10px;
  font-weight: 400;
}
