@use '@/shared/assets/styles/mixins/fonts' as *;
@use '@/shared/assets/styles/mixins/texts' as *;

.content {
  align-items: center;
  justify-content: center;

  .title {
    @include t-24-600;

    margin-bottom: 12px;
  }

  .subtitle {
    @include font-dmsans;
    @include t-14-400;

    margin-bottom: 28px;

    color: var(--muted-foreground);
  }

  .icon {
    height: 16px;
    width: 16px;

    flex-shrink: 0;

    transform: rotateZ(180deg);
    transform-origin: center;
  }
}
