@use '@/styles/colors' as *;

.main {
  position: absolute;
  left: 0px;
  top: 0px;
  block-size: 100vh;
  inline-size: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    inline-size: 100%;
    max-inline-size: 640px;
    block-size: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    overflow-y: auto;

    background-color: $BLACK50;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
  }
}
