.section {
  display: flex;
  flex-direction: column;

  transition-property: background-color;
  transition-duration: 0.3s;

  .content {
    max-width: 1152px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.primary {
  background-color: transparent;
}

.secondary {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  background-color: color-mix(in srgb, var(--muted) 40%, transparent);
}
