@use '../../styles/constant.scss';

.container {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;

  font-size: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);

  .h1 {
    font-size: inherit;
    font-weight: 700;
    font-family: constant.$MAIN_FONT;
  }

  .img {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 250px;
    max-inline-size: 250px;
    align-self: center;
    margin-block-start: 1em;

    object-fit: contain;
    object-position: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(0.875rem, 0.5139rem + 1.5408vw, 1.5rem);

    .label {
      font-size: 1.5em;
    }
  }

  @media (width < 1280px) {
    margin-inline: 0.5em;
  }

  @media (width < 1024px) {
    block-size: 100svh;
  }
}
