$BLACK: #000;
$WHITE: #fff;
$BG_DARK: #101010;
$LIGHTER_GRAY: #cccccc;
$GRAY: #212121;
$PEACH: #ff6385;
$LAVANDER: #7a7aff;
$RED: #e63131;

$BLACK80: rgba(0, 0, 0, 0.8);
$BLACK75: rgba(0, 0, 0, 0.75);
$BLACK50: rgba(0, 0, 0, 0.5);
$STICK: #4c4c4c;

$LINEAR_PEACH: linear-gradient(45deg, #ff3337, $PEACH);
$LINEAR_LAVANDER: linear-gradient(45deg, #3333ff, $LAVANDER);
