$BLACK: #000;
$DARK: #171717;
$GRAY: #2e2e2e;
$LIGHT_GRAY: #393939;
$LIGHTER_GRAY: #cccccc;
$WHITE: #fff;
$RED: #ff3636;
$GREEN: #36ff3d;

$EFFECT_L: 0px 0px 15px $WHITE;
$EFFECT_S: 0px 0px 10px $WHITE;

$BLUR: 0.5;

$MAIN_FONT: 'Piazzolla', serif;
$H1: 32px;
$H2: 22px;
$H3: 16px;

$SUB_MAX: 24px;
$SUB_MINI: 16px;
$TEXT_SIZE: 14px;

$BOLD: 700;
$MEDIUM: 500;
$LIGHT: 200;
