@use '../../styles/constant.scss';

.title {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-block-start: 5em;

  font-size: clamp(2.625rem, 2.0552rem + 2.4309vw, 4rem);

  .text {
    transform: rotateX(90deg);
    opacity: 0;

    transition:
      transform 0.3s,
      opacity 0.3s;

    animation: show 0.3s linear forwards;
  }
}

@keyframes show {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.button {
  position: fixed;
  bottom: 2em;
  left: auto;
  inline-size: fit-content;
  align-self: center;

  background-color: constant.$LIGHT_GRAY;
  padding: 25px 50px;
  border-radius: 100px;

  font-family: constant.$MAIN_FONT;
  font-weight: bold;
  font-size: 24px;
  color: constant.$WHITE;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
  transition:
    background-color 0.3s,
    color 0.3s;

  @media (width > 1024px) {
    &:hover {
      cursor: pointer;
      background-color: constant.$DARKY;
      color: constant.$BLUE;
      text-shadow: 0px 0px 10px constant.$BLUE;
      box-shadow: none;
      // box-shadow: 0px 0px 15px rgba($color: constant.$BLUE, $alpha: 0.5);
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0px;
        block-size: 100%;
        inline-size: 25%;
        border-radius: 100px;
        box-shadow: 0px 0px 15px rgba($color: constant.$BLUE, $alpha: 0.5);
        animation: left-right 1s ease-in-out infinite alternate;
      }
    }

    &:focus-visible {
      outline: 1px solid constant.$WHITE;
      outline-offset: 2px;
    }
  }

  @media (width < 1024px) {
    & {
      cursor: pointer;
      background-color: constant.$DARKY;
      color: constant.$BLUE;
      text-shadow: 0px 0px 10px constant.$BLUE;
      box-shadow: none;
      // box-shadow: 0px 0px 15px rgba($color: constant.$BLUE, $alpha: 0.5);
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0px;
        block-size: 100%;
        inline-size: 25%;
        border-radius: 100px;
        box-shadow: 0px 0px 15px rgba($color: constant.$BLUE, $alpha: 0.5);
        animation: left-right 1s ease-in-out infinite alternate;
      }
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0px;
      block-size: 100%;
      inline-size: 25%;
      border-radius: 100px;
      box-shadow: 0px 0px 15px rgba($color: constant.$BLUE, $alpha: 0.5);
      animation: left-right 1s ease-in-out infinite alternate;
    }
  }
}

@keyframes left-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300%);
  }
}
