@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.container {
  position: relative;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: $BLACK80;
  border-radius: 15px;
  padding: 10px;

  .title {
    @include h4;

    color: $WHITE;
  }

  .rolesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, 132px);
    gap: 15px;

    @media (width < 879px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .text {
      @include text;

      color: $LIGHTER_GRAY;
    }
  }
}
