@use '@/styles/mixins.scss' as *;

.message {
  padding: 20px 15px;
  border-radius: 15px;

  object-fit: cover;
  object-position: center;

  .rightSide {
    text-align: right;
  }

  .text {
    @include text;
  }
}
