@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.link {
  position: relative;
  inline-size: 100%;
  block-size: auto;
  max-block-size: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: $WHITE;

  &:hover {
    .title {
      opacity: 1;
    }

    .icon {
      filter: drop-shadow(0px 0px 5px currentColor);
    }
  }

  .icon {
    inline-size: 28px;
    block-size: 28px;
    transition: filter 0.3s;
  }

  .title {
    @include text;

    position: absolute;
    left: calc(100% + 10px);
    top: 0px;
    block-size: 30px;

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    padding: 5px;
    padding-right: 10px;
    background-color: $WHITE;
    color: $BLACK;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 0px;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid $WHITE; /* Цвет должен совпадать с фоном элемента */
    }
  }
}

.this {
  cursor: default;
  pointer-events: none;
  filter: drop-shadow(0px 0px 5px currentColor);
}
