.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;

  .side {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .avatar {
      inline-size: 100%;
      block-size: 300px;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
    }

    .infoBoard {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }
  }
}
