@use '@/styles/colors' as *;

.sidebar {
  z-index: 100;
  position: absolute;
  left: 10px;
  top: 10px;
  inline-size: 65px;
  block-size: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 15px;

  padding: 15px 5px;
  border-radius: 15px;
  background-color: $BLACK80;
  backdrop-filter: blur(5px);

  .logo {
    inline-size: 45px;
    block-size: 45px;
    object-fit: cover;
    border-radius: 100px;
  }

  .stick {
    inline-size: 100%;
    block-size: 2px;
    background-color: $STICK;
  }

  .rolesList {
    block-size: 100%;
  }
}
