@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.avatar {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 200px;
  max-block-size: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
  align-self: center;
}

.title {
  @include h1-m;

  color: $WHITE;
  align-self: center;
}

.info {
  inline-size: 100%;
  display: flex;
  gap: 15px;

  .mainInfo {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .author {
      display: flex;
      align-items: center;
      gap: 10px;

      padding: 3px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $GRAY;
      }

      .authorAvatar {
        inline-size: 50px;
        block-size: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 100px;
      }

      .authorNickname {
        @include text;

        color: $WHITE;
      }
    }
  }
}
