@use '@/styles/colors.scss' as *;

body {
  overflow: auto;

  margin: 0 auto;

  background-color: $BG_DARK;
  background-image: url('/png/background.png');

  #root {
    position: relative;
    inline-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    padding: 10px;
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $LIGHTER_GRAY;
  border-radius: 100px;

  &:hover {
    background: rgba($WHITE, 0.5);
  }
}
