@use '@/styles/constant.scss' as c;

body {
  background-color: c.$GRAY;
  min-inline-size: 375px;
  max-inline-size: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  #root {
    inline-size: 100%;
  }

  @media (width > 1280px) {
    max-inline-size: none;
    inline-size: 100%;
    padding: 0px calc((100% - 1280px) / 2);
  }
}
