@use '../../styles/constant.scss';

.chatlist {
  block-size: 100%;
  inline-size: 100px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 5px;
  background-color: constant.$LIGHT_GRAY;

  .chat_fake {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 2em;
    border-radius: 5px;

    background-color: constant.$GRAY;
  }

  @media (width < 1280px) {
    inline-size: 4em;
  }
}
