@use '../../styles/constant.scss';

.container {
  z-index: 1;
  inline-size: auto;
  block-size: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px 10px;
  background-color: constant.$LIGHT_GRAY;
  box-shadow: 0px 0px 10px constant.$LIGHT_GRAY;
  animation: show 0.5s ease-in forwards;
  opacity: 0;

  .text {
    inline-size: 100%;
    block-size: 100%;
    color: red;
    font-family: constant.$MAIN_FONT;
    font-weight: 700;
    font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
    text-align: center;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
