@use '@/styles/colors' as *;
@use '@/styles/effects' as *;
@use '@/styles/mixins' as *;

.input {
  @include input;

  padding: 10px;
  border: 1px solid $GRAY;
  border-radius: 5px;
  color: $LIGHTER_GRAY;
  background-color: transparent;
  transition:
    box-shadow 0.3s,
    border 0.3s,
    color 0.3s;

  &:hover {
    border: 1px solid $LIGHTER_GRAY;
  }

  &:focus-visible {
    outline: none;
  }

  &:active,
  &:focus {
    @include shadow(0px, 0px, 10px, $WHITE);

    border: 1px solid $LIGHTER_GRAY;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: $GRAY;
  }
}

.error {
  border: 1px solid $RED;
  color: $LIGHTER_GRAY;

  &:active,
  &:focus {
    @include shadow(0px, 0px, 10px, $RED);
  }
}
