@use '@/styles/colors' as *;
@use '@/styles/effects' as *;

.button {
  padding: 10px 22px;

  color: $WHITE;
  background-color: $GRAY;
  border-radius: 100px;
  border: 1px solid $GRAY;
  transition:
    box-shadow 0.3s,
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;

  &:hover {
    @include shadow(0px, 0px, 10px, $WHITE);

    cursor: pointer;
    color: $BLACK;
    border: 1px solid $WHITE;
    background-color: $WHITE;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    user-select: none;
    color: $GRAY;
    border-color: $GRAY;
    background-color: $BLACK;
  }
}
