@use '@/styles/colors' as *;
@use '@/styles/effects' as *;
@use '@/styles/mixins' as *;

.container {
  block-size: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .title {
    @include h1-pc;
    color: $WHITE;
    text-align: center;
  }

  .text {
    color: $WHITE;
    font-size: 18px;

    .back {
      color: $LAVANDER;

      &:hover {
        @include text-shadow(0px, 0px, 10px, $WHITE);
        cursor: pointer;
      }
    }
  }
}
