.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 20px;
    height: 20px;

    flex-shrink: 0;

    color: var(--primary);
  }

  .input {
    width: 0px;
    height: 0px;

    display: none;

    pointer-events: none;
    opacity: 0;
  }
}
